h3 Site Authentication
#isAuthenticated
  if isAuthenticated
    a(href="/") Home
    a(href="/users/dashboard") Dashboard
    a(href="users/logout") Logout
  else
    a(href="users/register") Sign up
    a(href="users/login") Sign in
